@import './base.css';

#app {
  width: 100%;
  /* max-width: 1440px; */
  height: 100vh;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

a,
.green {
  text-decoration: none;
  font-size: 1.1rem;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

a:hover,
.green:hover {
  background: hsla(160, 100%, 37%, 0.1);
  box-shadow: 0 2px 8px hsla(160, 100%, 37%, 0.5);
  border-radius: 4px;
}

